html,body
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

:root
{
	--base: #ffc600;
	--spacing: 10px;
	--blur: 10px;
}

#wrapper
{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

h2
{
	font-size: 3em;
}

#h1
{
	color: var(--base);
}

img
{
	margin-top: 20px;
	padding: var(--spacing);
	width: 400px;
	height: 250px;
	background-color: var(--base);
	filter: blur(var(--blur));
}